.star-rating {
  display: flex;
  justify-content: center;
  align-items: center;
}
.star-rating button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.2rem;
}
.on {
  color: #ffd874;
}
.off {
  color: #ccc;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
