@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
:root {
  --white: #ffffff;
  --color-primary: #ffffff;
  --color-secondary: #e9bf33;
  --background: #e5e5e5;
  --background-new-desk: #f2f2f2;
  --background-footer: #000000;
  --text: #333333;
  --line: #7a7a7a;
  --green: #00e676;
  --dark-green: #01dd73;

  --heights: 50vh;
  --widths: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;
  background: var(--background);
  font-family: "Nunito", sans-serif;
}
